# false: install in project target folder
# true: Install the files into games folders

install: false

# Rebuild all seats
all_seats: true

# Seat definitions to build (in addition to all setting)
#seats:
#- seat_name: "Configuration name"
#  seat: "seat name only, as hard-coded in job.py"
#  devices:
#  - device: "devices mapping file"
#    device_name: "udev/evdev device name"
